:root {
  --ngx-layout-header__height: auto;
  --ngx-layout-header__background-color: transparent;

  --ngx-layout-side-menu__width: auto;
  --ngx-layout-side-menu__background-color: transparent;

  --ngx-layout-main-content__background-color: transparent;
}
